h1 {
    text-align: center;
    margin-top: 100px;
}

.main_search {
    text-align: center;
    margin-top: 50px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.nav-links a {
    /* display: inline-block; */
    padding: 10px 18px;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 8px;
    text-decoration: none;
    color: #1a0dab;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.nav-links a:hover {
    background-color: #f1f3f5;
}

.google-logo {
    font-size: 80px;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.g {
    color: #4285F4;
}

.o1 {
    color: #EA4335;
}

.o2 {
    color: #FBBC05;
}

.g2 {
    color: #4285F4;
}

.l {
    color: #34A853;
}

.e {
    color: #EA4335;
}